* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #433f47; /* primary color */
    --secondary-color: #E6A644; /* secondary color */
    --tertiary-color: #E18339; /* tertiary color */
    --dark-color: #8C3313; /* dark color for text */
    --light-color: #b58dda; /* light color for text */
    --math-color: #2A6A9E; /* a shade of blue often associated with math and science */
    --background-color: #F5F5F5; /* light gray for subtle backgrounds */
    --highlight-color: #8c6bc1; /* camel color for highlights */
    --font-color: #211624; /* dark gray for text */
}


body {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: var(--font-color);
}

code pre {
    font-family: "Roboto Mono", monospace;
}


a {
    color: var(--font-color);
    text-decoration: none;
}

a:hover {
    color: var(--highlight-color);
    text-decoration: underline;
    text-decoration-thickness: 3px;
}


ul {
    list-style: none;
}


img {
    max-width: 100%;
    height: auto;
}


/* Navbar */
.navbar {
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* ?? */
    padding: 10px 0;
    margin-bottom: 25px;
}

.navbar .container {
    max-width: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .navbar-brand {
    font-size: 1.5rem;
    font-weight: 600;
    display: flex;
    align-items: center;
}

.navbar .navbar-brand .navbar-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.navbar .navbar-brand .navbar-item img {
    margin-right: 15px;
    max-height: 40px;
}

.navbar .navbar-menu ul {
    display: flex;
}

.navbar ul li a {
    padding: 10px 15px;
    display: block;
    font-weight: 400;
}


/* Hero */
/* Hero text centered, with logo on the left */
.hero .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.hero .hero-title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    font-size: 6em;
    font-weight: 700;
}

.hero .hero-title img {
    height: auto;
    max-height: 100px;
    margin-right: 15px;
}


/* Footer */
.footer {
    background-color: var(--primary-color);
    color: #ffffff;
    padding: 25px 0;
    margin-top: 50px;
}

.footer .container {
    max-width: 800px;
    display: flex;
}

.footer-columns {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.footer-columns .footer-column a {
    color: #ffffff;
}

.footer-columns .footer-column a:hover {
    color: var(--light-color);
}


.footer img {
    max-height: 75px;
    height: auto;
}


/* Documentation */
.apiref-container {
    max-width: 1150px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
}

.apiref-container .sidebar {
    width: 250px;
    margin-right: 25px;
    border-right: 1px solid #e0e0e0;
}

.apiref-container .content {
    flex: 1;
}

.sidebar-search {
    align-items: center;
    display: flex;
    width: 100%;
    margin-bottom: 25px;
    position: relative;
    padding: 0 10px;
}

.sidebar-search input {
    width: 100%;
    padding: 10px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
}

.sidebar-search input:focus {
    outline: none;
    border-color: var(--primary-color);
}

.sidebar-search button {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--primary-color);
    color: #ffffff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.sidebar-search button:hover {
    background-color: var(--secondary-color);
}

.sidebar-links {
    padding: 0 10px;
}


/* Utility Classes */
.container {
    max-width: 1150px;
    margin: 0 auto;
    padding: 0 15px;
}